.container {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 100vh; /* take full height of the viewport */
  padding: 20px;
}

.form {
  max-width: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


.inner{
  box-shadow:5px 5px 85px rgba(0, 0, 0, 0.5);
  height: 70vh;
  width: 40vw;
  align-items: center;
  align-content: center;
  background-color: rgb(147, 138, 138);
  border-radius: 45px;
}

.forms{
  margin: 50px;
}