/* *{
    margin: 0px;
    padding: 0px;
} */
.container1{
    display: flex;
    direction: rtl;
    /* border: 2px solid yellow; */
    padding: 15px;
}

.link{
    border: 2px;
    padding: 5px;
}
.l1{
    text-decoration: none;
    /* border: 2px solid red; */
    color:black;
    /* background-color: green; */
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    
}

.l1:hover{
    background-color: green;
    color: white;
}
.r1{
    background-color: red;
    font-size: 15px;
}
#root{
    background-color:rgb(61, 61, 147);
}